services:
  student_service:
    build: .
    container_name: student_service
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017
    ports:
      - "8080:8080"

  mongo:
    image: mongo:4
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"